<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <!-- Account Info -->
    <ion-list>
      <ion-list-header color="light">
        <ion-label><h1>Account Info</h1></ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="form.info.email" name="email" type="email" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Phone number</ion-label>
        <ion-input [(ngModel)]="form.info.phone" name="phone" type="tel" placeholder="Phone number"></ion-input>
      </ion-item>
    </ion-list>

    <!-- Settings -->
    <ion-list>
      <ion-list-header color="light">
        <ion-label><h1>Settings</h1></ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Enable Notifications</ion-label>
        <ion-checkbox [(ngModel)]="form.settings.notifications" name="notifications" slot="start"></ion-checkbox>
      </ion-item>
    </ion-list>

    <!-- Action Buttons -->
    <div class="button-wrapper">
      <ion-button expand="block" color="primary" (click)="submitForm()">Save Changes</ion-button>
      <ion-button expand="block" color="danger" fill="outline">Delete Account</ion-button>
    </div>
  </div>
</ion-content>
