ion-item {
    min-width: 600px;
    padding: 0 0 20px;
}

ion-button.submit-button {
    min-width: 600px;
}

.company-info {
    text-align: center;
    margin-top: 60px;
    font-size: 14px;
    color: var(--ion-color-medium);
}