// src/app/tabs/tab_checklist/tab_checklist.page.scss
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

#title {
  margin-right: 10px;
}

.stage-select-list {
  padding: 0;
  margin: 0;

  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --min-height: auto;
  }
}

ion-select {
  --padding-top: 10px;
  --padding-bottom: 0;
  --padding-start: 8px;
  --padding-end: 8px;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--ion-color-primary);
}

ion-list {
  padding: 0;
  margin: 0;
}

ion-item {
  --inner-border-width: 0 0 1px 0;
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 60px;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &.expanded {
    --background: var(--ion-color-white);
  }
}

ion-label {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;

  h2 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 4px;
  }

  h3 {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 4px;
  }

  p {
    font-size: 0.9rem;
    color: var(--ion-color-medium);
    margin: 0;
  }
}

.high-priority {
  font-weight: bold;
  color: var(--ion-color-danger);
}

.medium-priority {
  font-weight: bold;
  color: var(--ion-color-warning);
}

.low-priority {
  font-weight: normal;
  color: var(--ion-color-success);
}

.empty-list-message {
  color: var(--ion-color-medium);
  font-style: italic;
  margin-top: 20px;
}


.task-details {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--ion-color-medium);
  font-size: 0.9rem;
  width: 100%;

  .importance-explanation {
    margin-bottom: 10px;
  }

  .recommended-services {
    margin-top: 8px;

    strong {
      display: block;
      margin-bottom: 5px;
    }

    ion-list {
      margin-top: 0;
      padding: 0;
      background: transparent;
    }

    .service-item {
      --padding-start: 0;
      --inner-padding-end: 0;
      --min-height: auto;
      align-items: flex-start;
      padding-top: 5px;
      padding-bottom: 5px;
      --inner-border-width: 0;
      cursor: initial;

      ion-label {
        margin-right: 10px;

        h4 {
          font-size: 1rem;
          font-weight: normal;
          margin: 0;
        }

        p {
          font-size: 0.85rem;
          margin-top: 2px;
        }
      }

      ion-button {
        --padding-start: 8px;
        --padding-end: 8px;
        font-size: 0.75rem;
      }
    }
  }
}

ion-footer ion-toolbar ion-progress-bar {
  width: 100%;
  height: 5px;
  --background: #e0e0e0;
  --progress-background: var(--ion-color-primary);
}