<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab_dashboard" href="/tabs/tab_dashboard">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab_quiz" href="/tabs/tab_quiz">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>Questionnaire</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab_chatbot" href="/tabs/tab_chatbot">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
