<ion-header>
    <ion-toolbar>
        <ion-title class="centered-title">Chat</ion-title>
        <ion-buttons slot="end">
            <app-account-button></app-account-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
    <div #messages_area class="messages-area"></div>
</ion-content>

<ion-footer>
    <ion-toolbar color="light">
        <ion-textarea 
            autoGrow 
            rows="1" 
            maxlength="150"
            placeholder="Send message" 
            class="ion-text-center" 
            [(ngModel)]="message"
            (keydown.enter)="handleKeydown($any($event))">
        </ion-textarea>
        <ion-buttons slot="end">
            <ion-fab-button *ngIf="!isLoading" size="small" color="primary" (click)="sendMessage()">
                <ion-icon name="send"></ion-icon>
            </ion-fab-button>
            <ion-fab-button *ngIf="isLoading" size="small" color="primary">
                <ion-spinner name="dots" color="light"></ion-spinner>
            </ion-fab-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
