.login-page-wrapper {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-logo {
  position: absolute;
  top: 17.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
}

ion-card-content {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

ion-button[color="dark"] {
  text-transform: initial;
}

ion-content {
  --background: var(--ion-color-primary);
}

@media (max-width: 480px) {
  #login-logo {
    width: 150px;
  }
}
