<ion-header>
    <ion-toolbar>
        <div class="header">
            <h4 id="title">Stage:</h4>
            <ion-list>
                <ion-item>
                    <ion-select
                        [(ngModel)]="selectedStage"
                        aria-label="stage"
                        placeholder="Select stage"
                        interface="popover"
                        (ionChange)="handleChange()" >
                        <ion-select-option value="predeparture" selected>Predeparture</ion-select-option>
                        <ion-select-option value="departure">Departure</ion-select-option>
                        <ion-select-option value="arrival">Arrival</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div #predeparture id="predeparture" class="dep-page">
        <ion-list>
            <ion-item *ngFor="let item of preItemList;">
                <ion-label>{{item}}</ion-label>
                <ion-button danger (click)="removePre(item)"></ion-button>
            </ion-item>
        </ion-list>
    </div>

    <div #departure id="departure" class="dep-page">
        <ion-list>
            <ion-item *ngFor="let item of depItemList;">
                <ion-label>{{item}}</ion-label>
                <ion-button danger (click)="removeDep(item)">
                </ion-button>
            </ion-item>
        </ion-list>
    </div>

    <div #arrival id="arrival" class="dep-page">
        <ion-list>
            <ion-item *ngFor="let item of arrItemList;">
                <ion-label>{{item}}</ion-label>
                <ion-button danger (click)="removeArr(item)"></ion-button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
