<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Checklist</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedStage" (ionChange)="handleChange()">
      <ion-segment-button value="predeparture">
        <ion-label>Predeparture</ion-label>
      </ion-segment-button>
      <ion-segment-button value="departure">
        <ion-label>Departure</ion-label>
      </ion-segment-button>
      <ion-segment-button value="arrival">
        <ion-label>Arrival</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div #predeparture id="predeparture" class="dep-page">
    <ion-list>
      <ion-item *ngFor="let item of preItemList;">
        <ion-label class="ion-text-wrap">
          <h2>{{item.task_description}}</h2>
          <p>
            Priority: <span
              [ngClass]="{'high-priority': item.priority === 'High', 'medium-priority': item.priority === 'Medium', 'low-priority': item.priority === 'Low'}">{{item.priority}}</span>
            | Due: {{item.due_date}}
          </p>
        </ion-label>
        <ion-button color="danger" slot="end" (click)="removePre(item)">Remove</ion-button>
      </ion-item>
    </ion-list>
    <div *ngIf="preItemList.length === 0" class="ion-padding ion-text-center empty-list-message">
      No pre-departure tasks generated yet. Fill out the questionnaire!
    </div>
  </div>

  <div #departure id="departure" class="dep-page">
    <ion-list>
      <ion-item *ngFor="let item of depItemList;">
        <ion-label class="ion-text-wrap">
          <h2>{{item.task_description}}</h2>
          <p>
            Priority: <span
              [ngClass]="{'high-priority': item.priority === 'High', 'medium-priority': item.priority === 'Medium', 'low-priority': item.priority === 'Low'}">{{item.priority}}</span>
            | Due: {{item.due_date}}
          </p>
        </ion-label>
        <ion-button color="danger" slot="end" (click)="removeDep(item)">Remove</ion-button>
      </ion-item>
    </ion-list>
    <div *ngIf="depItemList.length === 0" class="ion-padding ion-text-center empty-list-message">
      No departure tasks generated yet.
    </div>
  </div>

  <div #arrival id="arrival" class="dep-page">
    <ion-list>
      <ion-item *ngFor="let item of arrItemList;">
        <ion-label class="ion-text-wrap">
          <h2>{{item.task_description}}</h2>
          <p>
            Priority: <span
              [ngClass]="{'high-priority': item.priority === 'High', 'medium-priority': item.priority === 'Medium', 'low-priority': item.priority === 'Low'}">{{item.priority}}</span>
            | Due: {{item.due_date}}
          </p>
        </ion-label>
        <ion-button color="danger" slot="end" (click)="removeArr(item)">Remove</ion-button>
      </ion-item>
    </ion-list>
    <div *ngIf="arrItemList.length === 0" class="ion-padding ion-text-center empty-list-message">
      No arrival tasks generated yet.
    </div>
  </div>
</ion-content>