.login-page-wrapper {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

#login-logo {
  position: absolute;
  top: -240px;
  width: 300px;
  height: auto;
}

ion-card-content {
  width: 275px;
  max-width: 500px;
  padding: 20px;
}

ion-card {
  border-radius: 20px;
}

ion-item {
  --min-height: 80px;
  --inner-border-width: 0;
}

ion-button[color="dark"] {
  text-transform: initial;
}

ion-content {
  --background: linear-gradient(167deg,rgba(11, 53, 71, 1) 0%, rgba(35, 121, 158, 1) 66%, rgba(16, 66, 87, 1) 100%);
}

h1 {
  position: relative;
  color: var(--ion-text-color, #000);
  text-align: center;
  width: 100%;
}

h1 span {
  position: relative;
  width: fit-content;
}

h1 span::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #cbcbcb;
  z-index: 2;
  align-self: center;
}
